doctype html
html(lang="en")
    head
        title=title
        link(rel='stylesheet', href='/site.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans', type='text/css')
    body
        block contents